<h2>Select Income Type</h2>
<%= link_to "Rent Income", new_transaction_path(transaction_type: "income", income_source: "rent") %>
<%= link_to "Other Income Sources", new_transaction_path(transaction_type: "income", income_source: "other") %>
